.page-container {
  background: rgb(35 19 153 / 86%);
  height: 100%;
}

.info-title {
  color: #fff;
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

.MuiDataGrid-columnHeaders{
  background-image: linear-gradient(110deg, #6dbbb0, #104cd7)
}

.MuiDataGrid-root {
  border-color: transparent !important;
}

.MuiCheckbox-root {
  color: #fff !important
}
.MuiCheckbox-root.Mui-checked{
  color:#1dfbdc  !important
}

.btn-underline{
  color: #fff !important;
  text-decoration: underline !important;
  font-size: 0.8em !important;
  text-transform: capitalize !important;
}

.btn-primary{
    color: #fff !important;
    background-image: linear-gradient(to left,  #567fdf,  #6dbbb0) !important;
    padding: 0.5em 2em !important;
    border-radius: 1 !important;
    text-transform: capitalize !important;
}